extends ../layout

block content
    .pb-2.mt-2.mb-4.border-bottom
        h3 Edit Delivery Path
    form(action='/admin/edit-deliverypath', method='POST')
        input(type='hidden', name='_csrf', value=_csrf)
        input(type='hidden' name='id' value=deliverypath.id)
        .form-group
            label(for='formGroupDeliverypathInput') Deliverypath name
            input#formGroupDeliverypathInput.form-control(type='text' placeholder='GO7 Dev' name='name' value=deliverypath.name)
        .form-group 
            label(for='formGroupDeliverypathInput') Description
            input#formGroupDeliverypathInput.form-control(type='text' placeholder='A delivery path for GO7' name='description' value=deliverypath.description)
        .form-group
            label(for='formGroupDeliverypathInput') IUA
            input#formGroupDeliverypathInput.form-control(type='text' placeholder='GO7' name='iua' value=deliverypath.iua)
        .form-group
            label(for='formGroupDeliverypathInput') Schema
            input#formGroupDeliverypathInput.form-control(type='text' placeholder='SCHEMA' name='dbschema' value=deliverypath.dbschema)
        .form-group
            label(for='formGroupDeliverypathInput') Configuration
            ul 
                each config in deliverypath.configuration
                    input#formGroupDeliverypathInput.form-control(type='text' placeholder='dbname' name='dbname' value=config)
        .offset-md-3.col-md-7.pl-2
            button.col-md-7.btn.btn-primary(type='submit')
                i.fas.fa-edit
                | Edit Path
