extends layout

block content
  .pb-2.mt-2.mb-4.border-bottom
    h3 
      i.fas.fa-database
      | Inventory
  .row
    .col-md-6
      h4 Database list
  p
  main
    if databases.length > 0
      table.table.table-bordered
        thead.thead-dark
          tr
            th Database Name
            th Instance Name
            th Server Name
            th Status
            th Job
            th Type
            th Environment
            th Version
            th Port
            th IUA
          each database in databases
            tr
            td= database.dbname
            td= database.instancename
            td= database.servername
            td= database.status
            td= database.job
            td= database.type
            td= database.environment
            td= database.version
            td= database.port
            td= database.iua
    else
      h4 No databases...